@page
@model IndexModel
@{
    ViewData["Title"] = "Library app by Fong";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="text-center">Library application by Fong</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
